In [1]:
import pandas as pd
import requests
import json
#import pandas_profiling
import time

In [2]:
#создаем функцию с применением API запроса для запроса данных по вакансиям с headhunter.ru по вакансиям аналитиков
def get_data(page):
    params = {
        'text': 'NAME:Аналитик', 
        'area': 1, 
        'page': page,
        'per_page': 100 
    }
    req = requests.get('https://api.hh.ru/vacancies', params=params) 
    data = req.content.decode()
    req.close()
    return data

In [3]:
#обрабаотывам полученные вакансии по страницам (акансиии разбиты на страницы как на сайте). получаем лист json-файлов
jsons_list = []
for page in range (1,19):
    row_data = json.loads(get_data(page))
    jsons_list.append(row_data)

In [113]:
len(jsons_list)

18

In [4]:
#преобразовываем каждый json-фал из листа в формат dataframe (таблицы)
df_list = []
for record in jsons_list:
    df = pd.json_normalize(record['items'])
    df_list.append(df)

In [5]:
#из всех dataframes делаем один большой с вакансиями 18 страниц сайта 
data_frame = pd.concat(df_list)

In [6]:
data_frame.head()

,id,premium,name,department,has_test,response_letter_required,response_url,sort_point_distance,published_at,created_at,...,address.metro.lng,employer.logo_urls.original,employer.logo_urls.240,employer.logo_urls.90,salary,address,department.id,department.name,insider_interview.id,insider_interview.url
0,54715010,False,Системный аналитик,NaN,False,False,None,None,2022-04-17T10:04:26+0300,2022-04-17T10:04:26+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,54832006,False,Системный аналитик,NaN,False,False,None,None,2022-04-14T19:55:53+0300,2022-04-14T19:55:53+0300,...,37.593095,https://hhcdn.ru/employer-logo-original/813532...,https://hhcdn.ru/employer-logo/3695016.png,https://hhcdn.ru/employer-logo/3695015.png,NaN,NaN,NaN,NaN,NaN,NaN
2,54842749,False,Менеджер-аналитик,NaN,False,False,None,None,2022-04-15T11:24:33+0300,2022-04-15T11:24:33+0300,...,NaN,https://hhcdn.ru/employer-logo-original/223054...,https://hhcdn.ru/employer-logo/391442.jpeg,https://hhcdn.ru/employer-logo/318585.jpeg,NaN,NaN,NaN,NaN,NaN,NaN
3,54547436,False,Аналитик,NaN,False,False,None,None,2022-04-16T10:31:30+0300,2022-04-16T10:31:30+0300,...,NaN,https://hhcdn.ru/employer-logo-original/607412...,https://hhcdn.ru/employer-logo/2870801.png,https://hhcdn.ru/employer-logo/2870800.png,NaN,NaN,NaN,NaN,NaN,NaN
4,54727857,False,Аналитик Информационно-аналитического отдела,NaN,False,False,None,None,2022-04-14T13:38:46+0300,2022-04-14T13:38:46+0300,...,37.657008,https://hhcdn.ru/employer-logo-original/653772...,https://hhcdn.ru/employer-logo/3056237.jpeg,https://hhcdn.ru/employer-logo/3056236.jpeg,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#забираем ссылку на подробное описание каждой вакансии, чтобы получить больше данных о каждой вакансии
urls = list(data_frame['url'])

In [ ]:
urls

In [9]:
#функция для запроса данных по API для каждой вакансии из списка ссылок 
def get_vacancy(url):
    vacancy_response = requests.get(url)
    vacancy = vacancy_response.content.decode()
    vacancy_response.close()
    time.sleep(0.25)
    return vacancy

In [10]:
#лист json-файлов c каждой вакансией
list_of_vacancies_json = []
for url in urls: 
    vacancy_data = json.loads(get_vacancy(url))
    list_of_vacancies_json.append(vacancy_data)

In [15]:
len(list_of_vacancies_json)

1800

In [11]:
#преобразование json-файлов в dataframe для каждой вакансии 
df_vacancy_list = []
for record in list_of_vacancies_json:
    df_vacancy = pd.json_normalize(record)
    df_vacancy_list.append(df_vacancy)

In [ ]:
df_vacancy_list[0]

In [ ]:
#делаем общий датафрейм всех вакансий 
vacancies = pd.concat(df_vacancy_list)
vacancies

In [13]:
#оставляем только интересные для нас столбцы 
vacancies_final = vacancies[['id', 'name', 'description', 'employer.name', 'schedule.name', 'experience.name', 'key_skills', 'address', 'employment.name', \
                            'department.name', 'salary', 'salary.from', 'salary.to', 'salary.currency', 'contacts', 'created_at', 'published_at' ]]

In [38]:
vacancies_final['key_skills'] = vacancies_final['key_skills'].apply(json.dumps)

<ipython-input-38-d43da5f317ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacancies_final['key_skills'] = vacancies_final['key_skills'].apply(json.dumps)

In [51]:
#переименовываем атрибуты датафрейма
vacancies_final.rename(columns= {'employer.name' : 'employer_name', 'employment.name' : 'employment_name', 'schedule.name' : 'schedule_name', \
                                'department.name' : 'department_name', 'experience.name':'experience_name', \
                                'salary.from':'salary_from', 'salary.to':'salary_to', 'salary.currency':'salary_currency'}, inplace=True)

<ipython-input-51-745e62f1cf13>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacancies_final.rename(columns= {'employer.name' : 'employer_name', 'employment.name' : 'employment_name', 'schedule.name' : 'schedule_name', \

In [49]:
vacancies_final.head()

,id,name,description,employer_name,schedule_name,experience_name,key_skills,address,employment_name,department_name,salary,salary_from,salary_to,salary.currency,contacts,created_at,published_at
0,54852117,Бизнес-аналитик,"<p>Одна из крупнейших российских компаний, раб...",Talent Pool,Полный день,От 1 года до 3 лет,"[{""name"": ""BPMN""}, {""name"": ""Atlassian Jira""},...",None,Полная занятость,NaN,NaN,None,200000,RUR,None,2022-04-15T15:20:18+0300,2022-04-15T15:20:18+0300
0,54331110,Младший аналитик \ Аналитик,<p><strong>Мы ведущая независимая консалтингов...,ПРОКАТТ,Удаленная работа,От 1 года до 3 лет,"[{""name"": ""\u0411\u0438\u0437\u043d\u0435\u044...",NaN,Полная занятость,NaN,None,NaN,NaN,NaN,None,2022-04-15T18:56:43+0300,2022-04-15T18:56:43+0300
0,54798082,Ведущий аналитик,<p><strong>МОСКВА ЗАДАЕТ ТРЕНДЫ!</strong> Наши...,Московский метрополитен,Удаленная работа,От 1 года до 3 лет,"[{""name"": ""\u0418\u043d\u0444\u043e\u0440\u043...",None,Полная занятость,NaN,None,NaN,NaN,NaN,None,2022-04-13T16:32:41+0300,2022-04-13T16:32:41+0300
0,54707921,Аналитик С (удаленно),"<p> </p> <ul> <li>Работа в стабильной, динамич...",КОРС,Удаленная работа,От 3 до 6 лет,"[{""name"": ""ERP-\u0441\u0438\u0441\u0442\u0435\...",NaN,Полная занятость,NaN,NaN,120000,170000,RUR,None,2022-04-14T07:04:42+0300,2022-04-14T07:04:42+0300
0,54622562,Аналитик,"<p><em><strong>Крупная торговая компания, импо...",ФИНТЕХ СТАНДАРТ,Полный день,От 1 года до 3 лет,"[{""name"": ""VBA""}, {""name"": ""Power BI""}, {""name...",NaN,Полная занятость,NaN,None,NaN,NaN,NaN,None,2022-04-15T12:28:18+0300,2022-04-15T12:28:18+0300

In [35]:
import sqlalchemy

In [ ]:
#создаем соединение с локальной базой данных sql и загружаем в нее данные датафрейма
engine =sqlalchemy.create_engine('postgresql://postgres:localhost@localhost/postgres') 
con = engine.connect()

table_name = 'vacancies_row'

vacancies_final.to_sql(table_name, con, schema = 'row')